# Scraping with Pandas

In [31]:
import pandas as pd

We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.

In [32]:
url = 'https://www.filmsite.org/bestpics4.html'

In [33]:
tables = pd.read_html(url)
tables[1]

,0,1,2,3,4,5
0,Film Year,Best Picture Academy Award Winners,Director (* Did not also win Best Director),Title Screen and Studio or Production Company,NOT Nominated for Best Picture,Should Have Won
1,NaN,NaN,NaN,NaN,NaN,NaN
2,1960,The Apartment,Billy Wilder,United Artists,Psycho Spartacus,Psycho
3,1961,West Side Story,Robert Wise and Jerome Robbins,United Artists,Breakfast at Tiffany's Splendor in the Grass ...,OK or The Hustler
4,1962,Lawrence of Arabia,David Lean,Columbia,The Manchurian Candidate (1962) Ride the High...,OK or To Kill a Mockingbird
...,...,...,...,...,...,...
56,2014,Birdman,Alejandro González Iñárritu,Fox Searchlight,Into the Woods Foxcatcher Unbroken Gone Gir...,The Grand Budapest Hotel or Boyhood or Amer...
57,2015,Spotlight,Tom McCarthy*,Open Road Films,Carol The Danish Girl The Hateful Eight Joy ...,The Revenant
58,2016,Moonlight,Barry Jenkins*,A24/Plan B Entertainment,Rogue One: A Star Wars Story Jackie,La La Land Manchester By the Sea or Moonlight
59,2017,The Shape of Water,Guillermo del Toro,Fox Searchlight,"I, Tonya Wonder Woman Blade Runner 2049",NaN
60,2018,Green Book,Peter Farrelly*,Universal,Mary Poppins Returns,Roma Bohemian Rhapsody Black Panther

In [34]:
type(tables)

list

In [35]:
df = tables[1]
df.columns = ['0', '1', '2', '3', '4', '5']
df.head()

,0,1,2,3,4,5
0,Film Year,Best Picture Academy Award Winners,Director (* Did not also win Best Director),Title Screen and Studio or Production Company,NOT Nominated for Best Picture,Should Have Won
1,NaN,NaN,NaN,NaN,NaN,NaN
2,1960,The Apartment,Billy Wilder,United Artists,Psycho Spartacus,Psycho
3,1961,West Side Story,Robert Wise and Jerome Robbins,United Artists,Breakfast at Tiffany's Splendor in the Grass ...,OK or The Hustler
4,1962,Lawrence of Arabia,David Lean,Columbia,The Manchurian Candidate (1962) Ride the High...,OK or To Kill a Mockingbird

In [36]:
df_new=df[2:]
df_new.head()

,0,1,2,3,4,5
2,1960,The Apartment,Billy Wilder,United Artists,Psycho Spartacus,Psycho
3,1961,West Side Story,Robert Wise and Jerome Robbins,United Artists,Breakfast at Tiffany's Splendor in the Grass ...,OK or The Hustler
4,1962,Lawrence of Arabia,David Lean,Columbia,The Manchurian Candidate (1962) Ride the High...,OK or To Kill a Mockingbird
5,1963,Tom Jones,Tony Richardson,United Artists,Hud The Birds The Haunting,OK or The Birds
6,1964,My Fair Lady,George Cukor,Warner Bros,A Hard Day's Night The Servant A Shot in the...,Dr. Strangelove: Or How I Learned to Stop Worr...

In [37]:
df_new_name=df_new[['0', '1', '2', '3']]
df_new_name.head()

      0                   1                               2               3
2  1960       The Apartment                    Billy Wilder  United Artists
3  1961     West Side Story  Robert Wise and Jerome Robbins  United Artists
4  1962  Lawrence of Arabia                      David Lean        Columbia
5  1963           Tom Jones                 Tony Richardson  United Artists
6  1964        My Fair Lady                    George Cukor     Warner Bros

In [38]:
df_movies=df_new_name.rename(columns={'0': 'Year', '1': 'Movie', '2': 'Director', '3': 'Studio'})
df_movies.head()

   Year               Movie                        Director          Studio
2  1960       The Apartment                    Billy Wilder  United Artists
3  1961     West Side Story  Robert Wise and Jerome Robbins  United Artists
4  1962  Lawrence of Arabia                      David Lean        Columbia
5  1963           Tom Jones                 Tony Richardson  United Artists
6  1964        My Fair Lady                    George Cukor     Warner Bros

In [39]:
movie_list=df_movies["Movie"].tolist()
movie_list

['The Apartment',
 'West Side Story',
 'Lawrence of Arabia',
 'Tom Jones',
 'My Fair Lady',
 'The Sound of Music',
 'A Man for All Seasons',
 'In the Heat of the Night',
 'Oliver!',
 'Midnight Cowboy',
 'Patton',
 'The French Connection',
 'The Godfather',
 'The Sting',
 'The Godfather Part II',
 "One Flew Over The Cuckoo's Nest",
 'Rocky',
 'Annie Hall',
 'The Deer Hunter',
 'Kramer vs. Kramer',
 'Ordinary People',
 'Chariots of Fire',
 'Gandhi',
 'Terms of Endearment',
 'Amadeus',
 'Out of Africa',
 'Platoon',
 'The Last Emperor',
 'Rain Man',
 'Driving Miss Daisy',
 'Dances with Wolves',
 'The Silence of the Lambs',
 'Unforgiven',
 "Schindler's List",
 'Forrest Gump',
 'Braveheart',
 'The English Patient',
 'Titanic',
 'Shakespeare in Love',
 'American Beauty',
 'Gladiator',
 'A Beautiful Mind',
 'Chicago',
 'The Lord of the Rings: The Return of the King',
 'Million Dollar Baby',
 'Crash',
 'The Departed',
 'No Country for Old Men',
 'Slumdog Millionaire',
 'The Hurt Locker',
 "The King's Speech",
 'The Artist',
 'Argo',
 '12 Years a Slave',
 'Birdman',
 'Spotlight',
 'Moonlight',
 'The Shape of Water',
 'Green Book']